.dummy {}

.game-stats table {
  width: 100%
}

.game-stats th {
  text-transform: uppercase;
}

.game-stats th.Doppelkopf {
  background-color: grey;
}

.game-stats th.Mau-Mau {
  background-color: green;
}

.game-stats th.Spieler {}

.game-stats td {}

.game-stats td.win,
.game-stats td.lose {
  text-align: center;
}

.game-stats td.player-win,
.game-stats td.player-lose {
  text-align: center;
}

.game-stats .game {}

.game-stats * {
  box-sizing: border-box;
}

.game-stats .colorstrip {
  position: absolute;
  top: -0.3em;
  left: 0;
  width: 100%;
  height: 0.4em;
  transition: top .4s ease 0s;
  opacity: 0.7;
  background-color: #E94336;
}

.game-stats .row:active .colorstrip,
.game-stats .row:focus .colorstrip,
.game-stats .row:hover .colorstrip,
.game-stats .field.playerName:active .colorstrip,
.game-stats .field.playerName:focus .colorstrip,
.game-stats .field.playerName:hover .colorstrip {
  top: 0;
  opacity: 0.7;
}

.game-stats .table-box>div {
  border: 0.05em solid #DDD;
}

.game-stats div.table {
  display: flex;
}

.game-stats div.table-box {
  width: 48.5%;
  margin-top: 0.5em;
  margin-left: 1%;
}

.game-stats div.blocker {
  height: 0.4em;
  overflow: hidden;
}

.game-stats div#gameName.row {
  background: var(--overview-heading-background-color);
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: auto;
  padding-top: 0.25em;
}

.game-stats div#gameName.row:hover {
  background-color: #bdbdbd;
  cursor: pointer;
}

.game-stats div.row {
  display: flex;
  width: 100%;

}

.game-stats #win-lose>div.win.lose {
  margin-bottom: 0;
}

.game-stats #win-lose>div.win,
.game-stats #win-lose>div.lose {
  margin-left: 0;
  text-align: center;
}

.game-stats div.field {
  padding-top: 0.45em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
  overflow: hidden;
}

.game-stats div.field.win {
  width: 40%;
  padding-left: 0.3em;
  border-left: 0.1em solid #DDD;
}

.game-stats div.field.lose {
  width: 40%;
  margin-left: 0em;
  border-left: 0.1em solid #DDD;
}

.game-stats div.field.win.lose {
  width: 20%;
  margin-left: 0;
  border-left: 0.1em;
}

.game-stats div.field.playerName {
  width: 20%;
  position: relative;
  background: var(--overview-heading-background-color);
}

.game-stats div#win-lose.row>div.field.win {
  border-left: 0;
  border-right: 0;
}

.game-stats div#win-lose.row>div.field.lose {
  border-left: 0;
}

.game-stats div#win-lose.row>div.field.win.lose {
  border-right: 0;
}

.game-stats div.row.data>div.field {
  border-top: 0;
}

.game-stats div.field.playerName:hover {
  background-color: #bdbdbd;
  cursor: pointer;
}

.dummy {}
