.dummy {}

.round-overview .a{
    display: -webkit-box;
    -webkit-box-flex: 100;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
}
.round-overview .b{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-flex: 100;
}
.round-overview .c{
    word-wrap: break-word;
text-align: center;
margin-top: 2.5em;
margin-left: 2em;
-webkit-box-flex: 5;
font-weight: bold;
font-size: 25pt;
}
.round-overview .d{
    -webkit-box-flex: 20;
    text-align: center;
    margin-top: 2.5em;
}
.round-overview .e{
    -webkit-box-flex: 80;
    margin-top: 0.5em;
}

.round-overview .liste {
    margin-left: 5em;
    -webkit-box-flex: 100;
    display: grid;
    grid-template-columns:  25% 35% 25%;
    grid-gap: 10px;
    align-content: center;
    padding: 10px;
}

.round-overview .marginright{
    margin-right: 1em;
    }

.round-overview .tSpieler{
    overflow-y: scroll;
}

.round-overview  .tSpielerColumnName{
    background-color: var(--list-element-color);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.round-overview .tSpielerColumnPunkte{
    background-color: var(--list-element-color);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.round-overview .tSpielerColumnInput{
    background-color: var(--button-background-color);
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
/*Input Text*/
.round-overview .inputFocus{
    height: 95%;
    width: 100%;
    font-size: 15px;
    color: black;
    border-radius: 5px;
    text-align: center;
    background-color: var(--button-background-color);
    border:  var(--button-background-color);
}
.round-overview .inputFocus:focus{
    background-color: black;
    color: white;
}


.round-overview #rundeText{
    margin-bottom: 50px;
    margin-left: 10px;
    font-size: 40pt;
}

/*Button*/
.round-overview .border-fade{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
    align-content: center;
    border-radius: 12px;
    margin-right: 45%;
    margin-left: 43%;
    margin-top: 2em;
    display: inline-block;
    background-color: white;

	transition-duration: .3s;
    transition-property: box-shadow;
    transform: translateZ(0);
}
.round-overview .border-fade:hover{
    box-shadow: 
			inset 0 0 0 4px black,
			0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */
    }
    
/*Scrollbar*/
/* width */
.round-overview ::-webkit-scrollbar {
    width: 20px;
    border: solid 3px transparent;
  }
/* Track */
.round-overview ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .round-overview ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .round-overview  ::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
  }

  .round-overview .modal {
    margin-top: 5em;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .round-overview .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border-radius: 3em;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  
  .round-overview #gewinnerAnzeige{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .round-overview .modal-header1 {
    padding: 2px 16px;
    line-height: 0em;
    background-color: black;
    color: var(--font-color);
    size: 12pt;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
  }
  
  .round-overview .modal-body {
    width: auto;
    height: 250px;
    padding: 2px 16px;
    background-color: var(--button-background-color);
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;}
  
    .round-overview #statistikB{
     margin-top: 1em;
        background-color: var(--list-element-color);
    }
    .round-overview #zurueckUebersicht{
        margin-top: 5em;
        background-color: var(--list-element-color);
    }

    