.dummy {}

.stats table {
  width: 100%
}

.stats th {
  text-transform: uppercase;
}

.stats th.Doppelkopf {
  background-color: grey;
}

.stats th.Mau-Mau {
  background-color: green;
}

.stats th.Spieler {}

.stats td {}

.stats td.win,
.stats td.lose {
  text-align: center;
}

.stats td.player-win,
.stats td.player-lose {
  text-align: center;
}

.stats .game {}

.stats * {
  box-sizing: border-box;
}

.stats .colorstrip {
  position: absolute;
  top: -0.3em;
  left: 0;
  width: 100%;
  height: 0.4em;
  transition: top .4s ease 0s;
  opacity: 0.7;
  background-color: #E94336;
}

.stats .row:active .colorstrip,
.stats .row:focus .colorstrip,
.stats .row:hover .colorstrip,
.stats .field.playerName:active .colorstrip,
.stats .field.playerName:focus .colorstrip,
.stats .field.playerName:hover .colorstrip {
  top: 0;
  opacity: 0.7;
}

.stats .table-box>div {
  border: 0.05em solid;
}

.stats div.title {
  display: flex;
  width: 100%;
}


.stats div.backButton {
  padding: 0.1em 0.4em 0.1em 0.3em;
  margin: 0.5em 1.5em 0.5em 1em;
  background: #313131;
  border: 0.1em solid;
}

.stats div.backButton:hover{
  background-color: var(--header-active-background-color);
  cursor: pointer;
}

.stats div.backButton > a {
  font-size: 20pt;
  font-weight: 900;
}

.stats div.titleName {
  padding: 0.1em 0.4em 0.1em 0.3em;
  margin: 0.7em 1.5em 0.5em 1em;
}

.stats div.titleName> a{
}

.stats div.table {
  display: flex;
}

.stats div.table-box {
  width: 48.5%;
  margin-top: 0.5em;
  margin-left: 1%;
}

.stats div.blocker {
  height: 0.4em;
  overflow: hidden;
}

.stats div#gameName.row {
  background: #313131;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: auto;
  padding-top: 0.25em;
}

.stats div#gameName.row:hover {
  background-color: var(--header-active-background-color);
  cursor: pointer;
}

.stats div.row {
  display: flex;
  width: 100%;

}

.stats #win-lose>div.win.lose {
  margin-bottom: 0;
}

.stats #win-lose>div.win,
.stats #win-lose>div.lose {
  margin-left: 0;
  text-align: center;
}

.stats div.field {
  padding-top: 0.45em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
  overflow: hidden;
  background: #454545;
}

.stats div.field.win {
  width: 40%;
  padding-left: 0.3em;
  border-left: 0.1em solid ;
}

.stats div.field.lose {
  width: 40%;
  margin-left: 0em;
  border-left: 0.1em solid;
}

.stats div.field.win.lose {
  width: 20%;
  margin-left: 0;
  border-left: 0.1em;
}

.stats div.field.playerName {
  width: 20%;
  position: relative;
  /* background: #313131; */
  background: #313131;
}

.stats div#win-lose.row>div.field.win {
  border-left: 0;
  border-right: 0;
  background-color: #313131;
}

.stats div#win-lose.row>div.field.lose {
  border-left: 0;
  background-color: #313131;
}

.stats div#win-lose.row>div.field.win.lose {
  border-right: 0;
  background-color: #313131;
}

.stats div.row.data>div.field {
  border-top: 0;
}

.stats div.field.playerName:hover {
  background-color: var(--header-active-background-color);
  cursor: pointer;
}

.dummy {}
