  /*
 * Dieses Stylesheet darf nur Selektoren beinhalten, die mit #app beginnen.
 * Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen der
 * Anwendung überschrieben werden.
 */
  #app {
    background-color: black;
    flex: 1;
  }

  /*
 * Kopfbereich über dem Inhalt
 */
#app header {
    background-color: var(--header-normal-background-color);
    color: var(--header-normal-font-color);
}

#app header > *,
#app header input,
#app header .item {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

#app header > .top {
    font-size: 80%;

    border: 0px solid var(--header-active-background-color);
    border-bottom-width: 1px;
}

#app header > .top .item,
#app header > .top input {
    padding: 0.5rem;
}

#app header > .bottom {
    border: 0px solid var(--header-active-background-color);
    border-bottom-width: 1px;
}

#app header > .bottom .item,
#app header > .bottom input {
    padding: 1rem 0.5rem 1rem 0.5rem;
}

#app header .active,
#app header .item:not(.inactive):hover {
    background-color: var(--header-active-background-color);
    color: var(--header-active-font-color);
}

#app header .item:not(.inactive) {
    cursor: pointer;
}

#app header a,
#app header a:visited {
    color: var(--header-normal-font-color);
    text-decoration: none;
}

#app header a:hover {
    color: var(--header-active-font-color);
    text-decoration: underline;
}

#app header input {
    background: none;
    color: var(--header-normal-font-color);
    border: 0;
}

#app .buttonHover {
        display: inline-block;
        border-radius: 4px;
        background-color: var(--button-background-color);
        border: none;
        color:var(--font-color);
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 400px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        position:absolute;
        top: 80%;
        left: 35%;
      }

#app .buttonHover span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

#app .buttonHover span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }

#app .buttonHover:hover span {
        padding-right: 25px;
      }

#app .buttonHover:hover span:after {
        opacity: 1;
        right: 0;
      }
#app > main {
  /* background-color: var(--list-element-hover-color); */
  background-color: var(--main-background-color)
}

/*
 * Hauptinhalt
 */
/*
 * Anpassung an große Bildschirme, sobald in der index.css das große
 * Hintergrundbild eingeschaltet wird
 */
@media screen and (min-width: 85em) {
    /* Rahmen um den Hauptbereich zeichnen */
    #app {
        max-width: 80em;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 2em;
        margin-right: 2em;

        border: 1px solid black;
        /*box-shadow: 1px 1px 1px 1px white;*/
    }

    /* Topbar- und Toolbar-Inhalte nebeneinander */
    #app header {
        display: grid;
        grid-template-columns: auto 20em;
    }

    #app header .top {
        grid-row: 1;
    }

    #app header .bottom {
        grid-row: 2;
    }

    #app header .left {
        grid-column: 1;

        display: flex;
        justify-content: flex-start;
    }

    #app header .right{
        grid-column: 2;

        display: flex;
        justify-content: flex-start;

        background-color: var(--header-normal-background-color);
        color: var(--header-active-font-color);
    }

    #app header .item {
        width: auto;
    }

    #app div.menu-content.right > div.item {
        width: 50%;
        border-right: 0.1em solid var(--header-normal-background-color);
        border-left:  0.1em solid var(--header-normal-background-color);
    }


    /* Menü-Icon ausblenden */
    #app header .menu-icon {
        display: none;
    }

    /* Nur den Bereich unterhalb der Toolbar scrollen */
    #app {
        display: flex;
        flex-direction: column;
    }

    #app > main {
        flex: 1;
        overflow: auto;
        background-image: url(https://c.wallhere.com/photos/3e/0e/wood_texture_dark_planks_simple_background-156677.jpg!d);
    }
}
