@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;

    background-color: rgb(212, 227, 237);
}
